# Data  Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerised.

**Objectives**
- List
- Popular Language for Data science
- Commonly used libraries for data science

Some of the most popular Languages that Data Scientist uses are:
1. Python
2. Julia
3. R
4. SQL

Some of the commonly used Libraries by Data Scientists includes:
1. NumPy
2. Pandas
3. Seaborn
4. Matplotlib

|Data Science Tools|
|:---: |
|RStudio|
|Python|
|Excel|
|Apache Spark|

### Below are a few examples of evaluating simple arithmetic expression in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers 
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author: 
Umar Sani Muhammad